<div class="row">
  <div class="col">
    <% if @grand_parent.photos.attached? %>
    <% @grand_parent.photos.each do |photo| %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path photo.key  %>);">
      <% end %>
      <% else %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path "https://images.unsplash.com/photo-1447069387593-a5de0862481e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" %>)">
      <% end %>
      <div class="container">
        <h1><%= @grand_parent.first_name %></h1>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap">
  <div class="container w-50">
    <div class="card-product-infos">
      <h4><%= @grand_parent.description %></h4>
      <p>🌟<%= @grand_parent.hobby %></p>
      <p>🌟Ville:<%= @grand_parent.city %></p>
      <p>🌟Age:<%= @grand_parent.age %> ans</p>
      <p>🌟Prix:<span id="price_gp"><%= @grand_parent.price %></span> euros💶</p>
    </div>
  </div>
  <div class="col">
  <%= render "bookings/new", grand_parent: @grand_parent, booking: @booking %>

  </div>
</div>

<!-- Boutons bas de page -->
<div class="container d-flex justify-content-center">
 <p>
  <%= link_to 'Supprimer', grand_parent_path(@grand_parent), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-flat our-button' %>
  <%= link_to 'Modifier', edit_grand_parent_path(@grand_parent), class: 'btn btn-flat our-button' %>
 </p>
</div>





