<% if @grand_parent.photos.attached? %>
  <% @grand_parent.photos.each do |photo| %>
    <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path photo.key, :width=>300, :height=>200, :crop=>"fill"  , :gravity=>"face" %>);">
      <% end %>
      <% else %>
      <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path "https://image.freepik.com/vecteurs-libre/conception-grands-parents_25030-23616.jpg" %>);">

      <% end %>
        <%= @grand_parent.first_name %>
    </div>
  </div>

<div class="d-flex flex-wrap">
  <div class="container w-50">
    <div class="card-product-infos">
      <h4><%= @grand_parent.description %></h4>
      <p>🌟<%= @grand_parent.hobby %></p>
      <p>🌟Ville:<%= @grand_parent.city %></p>
      <p>🌟Age:<%= @grand_parent.age %> ans</p>
      <p>🌟Prix:<span id="price_gp"><%= @grand_parent.price %></span> euros💶</p>
    </div>
  </div>
  <div class="col">
  <%= render "bookings/new", grand_parent: @grand_parent, booking: @booking %>

  </div>
</div>
<% @bookings.each do |booking| %>
<%= booking.review %>
<%= booking.user.full_name %>
<% end %>


<!-- Boutons bas de page -->
<div class="container d-flex justify-content-center">
 <p>
  <%= link_to 'Supprimer', grand_parent_path(@grand_parent), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-flat our-button' %>
  <%= link_to 'Modifier', edit_grand_parent_path(@grand_parent), class: 'btn btn-flat our-button' %>
 </p>



