<div class="black">
  <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>"></div>
    <div class="form-wrapper">
      <%= simple_form_for [grand_parent, booking] do |f| %>
      <%= f.input :date_start, label: "Sélectionnez vos dates de réservation", as: :string, required: false, input_html: { id: "range_start", class: "d-none"} %>
      <%= f.input :date_end, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none" } %>
      <div id="votre_resa"></div>
      <div class="d-flex m-auto">
        <%= f.button :submit, "Book", class: "btn btn-primary m-auto our-button" %>
      </div>
      <% end %>
    </div>
</div>



